@page "/"
@using Microsoft.AspNetCore.Components.Web;
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>



<div class="container text-center mt-5">

	<h1 class="display-4 fw-bold">Welcome to PANAMA BANKINGS</h1>
	<p class="lead text-muted">Your trusted partner in financial solutions.</p>

	<p class="text-muted">Today's Date: @DateTime.Now.ToString("dddd, dd MMMM yyyy")</p>

	<p> Test Branch 2</p>

	<img src="\360_F_136331491_vRh0iHpvyi5juqXvbtujaibNIj6Xvyoh.jpg" class="img-fluid rounded shadow-lg my-4" alt="Bank Image" style="max-width: 600px;">

</div>


@code {

	

}