<h3>PaymentTransfer</h3>

@code {

}


@* Jag vill skapa en sida som: 
1. Överförar pengar till olika konton som användaren kan välja.
2. Och i den sidan vill jag kunna se transaktionshistoriken, allt från från vem pengar skickades till, och till vem. 
3. Vilken tid och datum det skedde.
4. Hur mycket saldot var. 
5. Vilken valuta. 
6. Samt vill jag se meddelande om användaren har skrivit det. 
7. Och alla transaktioner ska ha ett nummer. *@
